In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved/created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
0,0,Kupino,RU,54.37,77.30,64.38,66,48,11.70,scattered clouds,0.0,0
1,1,Port Maria,JM,18.37,-76.89,88.00,80,7,8.01,clear sky,0.0,0
2,2,Georgetown,MY,5.41,100.34,82.40,88,20,3.36,few clouds,0.0,0
3,3,Castro,BR,-24.79,-50.01,68.22,59,7,7.52,clear sky,0.0,0
4,4,Mataura,NZ,-46.19,168.86,39.00,83,55,3.00,broken clouds,0.0,0

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID                  int64
City                    object
Country                 object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
Rain (inches)          float64
Snow (inches)            int64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 95

In [6]:
# Ask the customer if you they want it to be raining. 
rain_amount = input("Do you want it to be raining? (yes/no) ")

Do you want it to be raining? (yes/no) no

In [7]:
# Ask the customer if you they want it to be snowing. 
snow_amount = input("Do you want it to be snowing? (yes/no) ")

Do you want it to be snowing? (yes/no) no

In [8]:
# Narrow down the cities that fit criteria.
if rain_amount == "no" and snow_amount == "no":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                          (city_data_df["Max Temp"] >= min_temp) &
                                          (city_data_df["Rain (inches)"] == 0) &
                                          (city_data_df["Snow (inches)"] == 0)]
elif rain_amount == "no" and snow_amount == "yes":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                          (city_data_df["Max Temp"] >= min_temp) &
                                          (city_data_df["Rain (inches)"] == 0) &
                                          (city_data_df["Snow (inches)"] > 0.0)]
elif rain_amount == "yes" and snow_amount == "no":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                          (city_data_df["Max Temp"] >= min_temp) &
                                          (city_data_df["Rain (inches)"] > 0.0) &
                                          (city_data_df["Snow (inches)"] == 0)]
else:
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                          (city_data_df["Max Temp"] >= min_temp) &
                                          (city_data_df["Rain (inches)"] > 0.0) &
                                          (city_data_df["Snow (inches)"] > 0.0)]
filtered_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
1,1,Port Maria,JM,18.37,-76.89,88.00,80,7,8.01,clear sky,0.0,0
2,2,Georgetown,MY,5.41,100.34,82.40,88,20,3.36,few clouds,0.0,0
9,9,Kavieng,PG,-2.57,150.80,82.08,71,100,6.17,overcast clouds,0.0,0
12,12,Tiznit,MA,29.58,-9.50,87.06,33,0,7.14,clear sky,0.0,0
19,19,Kahului,US,20.89,-156.47,78.80,69,40,10.29,scattered clouds,0.0,0
21,21,Ponta Do Sol,PT,32.67,-17.10,78.01,68,0,5.17,clear sky,0.0,0
26,26,Touros,BR,-5.20,-35.46,84.20,58,20,10.29,few clouds,0.0,0
27,27,Gat,IL,31.61,34.76,82.99,65,0,1.01,clear sky,0.0,0
31,31,Baculin,PH,7.45,126.58,78.26,79,58,3.96,broken clouds,0.0,0
39,39,Salalah,OM,17.02,54.09,80.60,94,90,8.05,overcast clouds,0.0,0

In [9]:
# Determine if any null values.
filtered_cities_df.count()

City_ID                193
City                   193
Country                193
Lat                    193
Lng                    193
Max Temp               193
Humidity               193
Cloudiness             193
Wind Speed             193
Current Description    193
Rain (inches)          193
Snow (inches)          193
dtype: int64

In [10]:
# Drop any empty rows and make a new DataFrame.
clean_travel_cities = filtered_cities_df.dropna()
clean_travel_cities.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
1,1,Port Maria,JM,18.37,-76.89,88.00,80,7,8.01,clear sky,0.0,0
2,2,Georgetown,MY,5.41,100.34,82.40,88,20,3.36,few clouds,0.0,0
9,9,Kavieng,PG,-2.57,150.80,82.08,71,100,6.17,overcast clouds,0.0,0
12,12,Tiznit,MA,29.58,-9.50,87.06,33,0,7.14,clear sky,0.0,0
19,19,Kahului,US,20.89,-156.47,78.80,69,40,10.29,scattered clouds,0.0,0

In [11]:
clean_travel_cities.count()

City_ID                193
City                   193
Country                193
Lat                    193
Lng                    193
Max Temp               193
Humidity               193
Cloudiness             193
Wind Speed             193
Current Description    193
Rain (inches)          193
Snow (inches)          193
dtype: int64

In [12]:
clean_travel_cities.columns

Index(['City_ID', 'City', 'Country', 'Lat', 'Lng', 'Max Temp', 'Humidity',
       'Cloudiness', 'Wind Speed', 'Current Description', 'Rain (inches)',
       'Snow (inches)'],
      dtype='object')

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Port Maria,JM,88.00,clear sky,18.37,-76.89,
2,Georgetown,MY,82.40,few clouds,5.41,100.34,
9,Kavieng,PG,82.08,overcast clouds,-2.57,150.80,
12,Tiznit,MA,87.06,clear sky,29.58,-9.50,
19,Kahului,US,78.80,scattered clouds,20.89,-156.47,
21,Ponta Do Sol,PT,78.01,clear sky,32.67,-17.10,
26,Touros,BR,84.20,few clouds,-5.20,-35.46,
27,Gat,IL,82.99,clear sky,31.61,34.76,
31,Baculin,PH,78.26,broken clouds,7.45,126.58,
39,Salalah,OM,80.60,overcast clouds,17.02,54.09,

In [14]:
# Set parameters to search for a hotel.
params = {"radius": 5000,
          "type": "lodging",
          "key": g_key}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError, NameError):
        print("Hotel not found... skipping.")
        
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Port Maria,JM,88.00,clear sky,18.37,-76.89,Galina Breeze Hotel
2,Georgetown,MY,82.40,few clouds,5.41,100.34,Cititel Penang
9,Kavieng,PG,82.08,overcast clouds,-2.57,150.80,Nusa Island Retreat
12,Tiznit,MA,87.06,clear sky,29.58,-9.50,
19,Kahului,US,78.80,scattered clouds,20.89,-156.47,Maui Seaside Hotel
21,Ponta Do Sol,PT,78.01,clear sky,32.67,-17.10,Hotel do Campo
26,Touros,BR,84.20,few clouds,-5.20,-35.46,INN NEW HORIZON
27,Gat,IL,82.99,clear sky,31.61,34.76,רגע בנחת
31,Baculin,PH,78.26,broken clouds,7.45,126.58,Shovy's Cove
39,Salalah,OM,80.60,overcast clouds,17.02,54.09,HAMDAN PLAZA HOTEL

In [16]:
# Create the output file (CSV).
output_data_file = "weather_data/WeatherPy_vacation.csv"

# Export the City_Data into a CSV.
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# Add info box template information.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
# Add a marker layer for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]

fig = gmaps.figure()

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))